/* STYLES.CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: "Knewave";
  src: url("../fonts/Knewave-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* BODY AND BACKGROUND SETUP */
body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body > * {
  position: relative;
  z-index: 1;
}

/* BACKGROUND GRADIENT */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(1, 107, 255, 0.15),
    rgba(1, 107, 255, 0.15),
    rgba(255, 0, 0, 0.15),
    rgba(255, 0, 0, 0.15),
    rgba(255, 255, 0, 0.25),
    rgba(255, 255, 0, 0.25),
    rgba(0, 255, 0, 0.15),
    rgba(0, 255, 0, 0.15),
    rgba(255, 166, 0, 0.25),
    rgba(255, 166, 0, 0.25),
    rgba(137, 43, 226, 0.15),
    rgba(137, 43, 226, 0.15)
  );
  background-size: 600% 100%;
  background-position: 0% 0%;
  animation: animatedBG 90s linear infinite;
  z-index: 0;
  pointer-events: none;
}

@keyframes animatedBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseGradient {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.3;
  }
}

/* HEADER */
header {
  text-align: center;
  margin-top: 20px;
  z-index: 10;
  font-family: "Knewave", cursive;
}

h1 {
  font-family: "Knewave", cursive;
  font-size: 6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

h2 {
  font-family: "Knewave", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* MAIN TITLE FLICKER EFFECT */
@keyframes flicker {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  20% {
    opacity: 0.4;
    filter: brightness(1.8);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
    filter: brightness(2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

#main-title {
  display: inline-block;
  animation: flicker 0.6s ease-in-out infinite;
}

/* GALLERY CONTAINER */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

/* CATEGORY */
.category {
  width: 100%;
  text-align: center;
}

/* CATEGORY TITLES */
h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* CARDS CONTAINER */
.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}

/* CARD STYLING */
.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  background-color: transparent;
  display: block;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* FRONT AND BACK OF THE CARD */
.card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: visibility 0s, opacity 0s;
}

.card-front {
  z-index: 1;
}

.card-back {
  background-color: #000;
  color: #fff;
  z-index: 0;
  visibility: hidden;
  font-family: "Knewave", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  transition: visibility 0s, opacity 0s;
  line-height: 1.5;
}

/* CARDS GLOW EFFECT BY CATEGORY */
@keyframes pulseGlowBombers {
  0% {
    box-shadow: 0 0 100px rgba(1, 107, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgb(0, 85, 255);
  }
  100% {
    box-shadow: 0 0 50px rgba(0, 110, 255, 0.3);
  }
}

@keyframes pulseGlowThieves {
  0% {
    box-shadow: 0 0 100px rgba(255, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(255, 0, 0, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.3);
  }
}

@keyframes pulseGlowCornerstones {
  0% {
    box-shadow: 0 0 100px rgba(255, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(255, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 255, 0, 0.3);
  }
}

@keyframes pulseGlowRangers {
  0% {
    box-shadow: 0 0 100px rgba(0, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(0, 255, 0, 0.3);
  }
}

@keyframes pulseGlowFlamethrowers {
  0% {
    box-shadow: 0 0 100px rgba(255, 165, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(255, 165, 0, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 165, 0, 0.3);
  }
}

@keyframes pulseGlowBackstops {
  0% {
    box-shadow: 0 0 100px rgba(138, 43, 226, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(138, 43, 226, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(138, 43, 226, 0.3);
  }
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  animation: pulseGlow 2s infinite;
}

.card[data-category="bombers"] {
  animation: pulseGlowBombers 2s infinite;
}

.card[data-category="thieves"] {
  animation: pulseGlowThieves 2s infinite;
}

.card[data-category="cornerstones"] {
  animation: pulseGlowCornerstones 2s infinite;
}

.card[data-category="rangers"] {
  animation: pulseGlowRangers 2s infinite;
}

.card[data-category="flamethrowers"] {
  animation: pulseGlowFlamethrowers 2s infinite;
}

.card[data-category="backstops"] {
  animation: pulseGlowBackstops 2s infinite;
}

/* ZOOMED CARD */
.zoomed-card {
  position: fixed;
  width: 50vw;
  max-width: 400px;
  aspect-ratio: 3 / 4;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  perspective: 1000px;
  overflow: hidden;
  animation: pulseGlow 3s infinite;
}

.zoomed-card.enlarged {
  transform: scale(1.2);
}

.zoomed-card .card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.zoomed-card.flipped .card-front {
  visibility: hidden;
  z-index: 0;
}

.zoomed-card.flipped .card-back {
  visibility: visible;
  z-index: 1;
}

.zoomed-card .card:hover {
  transform: none;
}

.flag-icon {
  width: 160px;
  height: auto;
  margin-bottom: 10px;
}

.player-name {
  font-size: 3rem;
  margin: 20px;
}

.player-desc {
  font-size: 1.5rem;
  margin-top: 2px;
  text-align: center;
  padding: 0 10px;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 80px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay .zoomed-card {
  visibility: visible;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid white;
  margin-top: 30px;
  font-family: "Knewave", cursive;
  z-index: 9999;
  pointer-events: none;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.socials li {
  margin-left: 10px;
}

.socials img {
  width: 28px;
  border: none;
}

.socials img:hover {
  opacity: 0.5;
}

.socials a {
  text-decoration: none;
  border: none;
}

.flicker-char {
  animation: flicker 0.1s linear infinite;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .flag-icon {
    width: 75px;
  }
}

@media screen and (max-width: 480px) {
  .player-name {
    font-size: 1rem;
  }

  .player-desc {
    font-size: 0.8rem;
  }
}
